.searchPage{

    padding: 0 2rem;
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;
}

.allEpisodes{
    padding-bottom: 2rem;

    table{
      width: 100%;
      
      th, td{
          padding: 0.75rem 1rem;
          border-bottom: 1px solid var(--gray-100);
      }

      th{
         color: var(--gray-200);
         text-transform: uppercase;
         font: 500 0.75rem Lexend, sans-serif;
         text-align: left;
      }

      td{
        font-size: 0.875rem;

        img{
            border-radius: 0.5rem;
        }
        
        a{
          color: var(--gray-800);
          font-family: Lexend, sans-serif;
          font-weight: 600;
          text-decoration: none;
          line-height: 1.4rem;      
          &:hover{
            text-decoration: underline;
          }
        }

            button{
                width: 2.2rem;
                height: 2.2rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.5rem;
                font-size: 0;

                transition: filter .2s;

                img{
                    width: 1.25rem;
                    height: 1.25rem;
                }

                &:hover{
                    filter: brightness(0.95);
                    transition: filter .2s;
                }
            }
        }
    }
}

